/* General styles */

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #1E2A3A;
    line-height: 1.6;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-x: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

/* main {
    flex-grow: 1;
    position: relative;
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin: 30px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

a {
    color: #1E2A3A;
    text-decoration: none;
}

#switch {
    display: flex;
    align-items: center;
  }
  

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  input:checked + .slider {
    background-color: #4cd964;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }

/* Theme Toggle */
.theme-toggle {
    position: fixed;
    top: 2.5rem;
    left: 2.5rem;
    z-index: 1000;
  }

.theme-toggle #switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-toggle #switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-toggle #switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.theme-toggle #switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.theme-toggle #switch input:checked + .slider {
  background-color: #4cd964;
}

.theme-toggle #switch input:checked + .slider:before {
  transform: translateX(26px);
}

.icon-container {
    display: flex;
    align-items: center;
    margin-left: 200px; /* Adjust the spacing between the switch and the icon */
  }

.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.moon {
  display: none;
}

.themeSwitchWrapper.dark .sun {
  display: none;
}

.themeSwitchWrapper.dark .moon {
  display: inline;
}

.headline {
    font-family: 'Arial Black', sans-serif;
    font-size: 10vw;
    font-weight: 900;
    text-align: left;
    margin-top: 5.5rem;
    margin-left: 2.5rem;
    line-height: 1.2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.07em;
}

.spoon, .studio {
    display: inline;
}

/* Color and shadow for light theme */
.theme-light .headline {
    color: #222;
}

/* Color and shadow for dark theme */
.theme-dark .headline {
    color: #fff;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
}

/* Responsive behavior for smartphones */
@media screen and (max-width: 480px) {
    .studio {
        display: block;
    }
    .headline {
        font-size: 17vw;
    }
}



  
/* Section styles */
section {
    width: 100%;
    padding: 3rem 0;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
font-size: 2rem;
font-weight: bold;
margin-bottom: 1rem;
}

p {
font-size: 1.2rem;
max-width: 800px;
margin: 0 auto;
}

/* Our Work section */
.project-grid {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 2rem;
margin-top: 2rem;
}

.project {
width: 300px;
background-color: #FFFFFF;
padding: 1rem;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Contact section */
.contact-info {
list-style-type: none;
padding: 0;
margin-top: 1rem;
}

.contact-info li {
font-size: 1.2rem;
margin-bottom: 1rem;
}

/* Footer */
footer {
    padding: 1rem 0;
    background-color: #1E2A3A;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.impressum-link {
    margin-right: 0;
}

footer a {
    color: #FFFFFF;
}



/* Light and dark mode */
:root {
--bg-color: #F0F4F8;
--text-color: #1E2A3A;
--footer-bg: #1E2A3A;
--footer-text: #FFFFFF;
}

body.dark-mode {
--bg-color: #1E2A3A;
--text-color: #F0F4F8;
--footer-bg: #F0F4F8;
--footer-text: #1E2A3A;
}

body {
background-color: var(--bg-color);
color: var(--text-color);
}

footer {
background-color: var(--footer-bg);
color: var(--footer-text);
}

footer a {
color: var(--footer-text);
}



/* Responsive styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
    }

    .project-grid {
        gap: 1rem;
    }

    .project {
        width: 100%;
    }
    
    footer {
        flex-direction: column;
    }
    
    .footer-content {
        order: 2;
        flex-direction: column;
        align-items: center;
    }

    .copyright {
        margin-top: 1rem;
    }
}